---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
        <div class="flex flex-col sm:flex-row items-center sm:items-start gap-8 font-tt px-4 sm:px-0">
          <div class="flex-1 mt-4 sm:mt-10 order-2 sm:order-1">
            <h2 class="font-bold text-xl mb-4">Welcome to my corner of the web!</h2>
            <p class="mb-4">Hi there! I'm delighted you've found your way here.
              This blog is a place where I dump my thoughts and reflections and try to keep me in the habit of writing.
            </p>
            <p class="mb-4">I am generally interested in various topic, ranging from technological developments to the philosophy or the economic structure of society.
            Furthermore, I am living in the "start-up world" and love to create beautiful new products. Hence I might slip some management related posts here and there.
            </p>
            <p class="mb-4">As I am aware that these topics are quite unrelated, I give you filter to not be bothered.</p>
            <p class="mb-4">I hope you find something interesting here.</p>
            <p class="mb-4">If you have any questions, remarks or just want to say hi, please feel free to contact me via <wired-link href="mailto:blog@erikschwan.com">email</wired-link>.
            </p>
          </div>
          <div class="flex-none order-1 sm:order-2">
            <img 
              src="/profile.jpg" 
              alt="Profile photo" 
              class="rounded-lg shadow-xl w-48 sm:w-64 transform rotate-3 hover:rotate-0 transition-transform duration-300" 
            />
          </div>
        </div>
</BaseLayout>