---
---
<footer class="flex flex-col sm:flex-row justify-center items-center gap-2 sm:gap-4 h-max font-tt py-4">
    <a href="/imprint">Imprint</a>
    <span class="hidden sm:inline">|</span>
    <a href="/privacy">Privacy policy</a>
    <span class="hidden sm:inline">|</span>
    <span>This website doesn't use cookies.</span>
</footer>
