---
import Navigation from './Navigation.astro';
---
<header class="flex justify-between px-10 py-5">
    <div class="text-3xl font-tt font-thin"><a href="/">Erik Schwan</a></div>
    <div class="flex items-center gap-4">
        <nav>
            <Navigation />
        </nav>
        <a href="/rss.xml" class="hover:text-blue-600">
            <wired-icon-button style="--wired-icon-size:12px">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M4 11a9 9 0 0 1 9 9"/>
                    <path d="M4 4a16 16 0 0 1 16 16"/>
                    <circle cx="5" cy="19" r="1"/>
                </svg>
            </wired-icon-button>
        </a>
    </div>
</header>