---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script>
      import 'wired-elements';
    </script>
  </head>
  <body>
    <div class="grid-background border-b border-blue-800/35">
        <Header />
        <h1 class="text-center text-xl font-playwriteGuides py-4 px-4">{pageTitle}</h1>
    </div>
    <div class="max-w-screen-md mx-auto flex flex-col min-h-[calc(100vh-204px)] px-4 sm:px-6">
        <slot />
    </div>
    <div class="grid-background h-16 border-t border-blue-800/35">
        <Footer />
    </div>
  </body>
</html>
